body{
	margin: 0px;
	background-image: url("../images/brushed.png");
	position: relative;


}

section{
	padding-left: 13%;
	padding-right: 13%;
}

h1{
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 20px;
	color: #4aaaa5;
	border-bottom: solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 25px;

}

h2{
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 15px;
	color: #4aaaa5;
	border-bottom: solid #dddddd;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;


}

a{
	text-decoration: none;
	color: #666666;
	margin-right: 6px;
}

footer{
	background-color: #666666;
	text-align: center;
	border-top: 6px solid #4aaaa5;
	width: 100%;
	bottom: 0;
	position: fixed;
	height: 45px;
	padding-top: 25px;
	margin-top: 20px;
	clear: both;
}

input{
	margin-bottom: 20px;
}

form, p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

#header{
	height: 70px;
	background-color: #ffffff;
	padding-left: 13%;
	padding-right: 13%;
	border-bottom: solid #cccccc;
	margin-bottom: 40px;
}

#name{
	width: 25%;	
	height: 50px;
	background-color: #4aaaa5;
	text-align: center;
	padding-top: 20px;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 30px;
	color: #ffffff;

}

#nav{
	text-align: center;
	height: 45px;
	padding-top: 25px;
	color: #999;	

}

#main{
	width: 52%;

	background-color: #ffffff;
	border: solid #dddddd;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	margin-bottom: 50px;
	
}

#sidebar{
	width: 22%;
	background-color: #ffffff;
	border: solid #dddddd;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	}

#submit{
	background-color: #4aaaa5;
	height: 40px;
	width: 25%;
	border: solid #4aaaa5;
	color: #ffffff;
	font-size: 20px;

}

.icons{
	height: 60px;
	width: 60px;
}

.largertextbox{
	height: 200px;
	width: 100%;
}

.textbox{
	margin-top: 5px;
}

.textbox1{
	margin-top: 60%;
}

.textbox2{
	margin-top: 85%;
}

.portfolioImg{
	width: 200px;
	height: 200px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 0px;
	display: inline-block;
}

.projectname{
	width: 200px;
	height: 40px;
	background-color: #4aaaa5;
	position: relative;
	top:-50px;
	text-align: center;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.image{
	padding-right: 20px;
}

